{{- if .Values.bootstrap.grafana.enabled -}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: monitoring
    server: "https://kubernetes.default.svc"
  project: default
  source:
    repoURL: "https://grafana.github.io/helm-charts"
    targetRevision: "8.5.0"
    chart: grafana
    helm:
      valuesObject:
        ingress:
          enabled: true
          ingressClassName: "nginx"
          annotations:
            cert-manager.io/cluster-issuer: "letsencrypt-prd"
          hosts:
            - grafana.{{ .Values.global.clusterName }}.dramisinfo.com
          tls:
            - secretName: grafana-tls
              hosts:
                - grafana.{{ .Values.global.clusterName }}.dramisinfo.com
        datasources:
          datasources.yaml:
            apiVersion: 1
            datasources:
              - name: Prometheus
                type: prometheus
                url: http://prometheus-server
                access: proxy
                isDefault: true
              - name: Loki
                type: loki
                url: http://loki:3100
                access: proxy
        dashboardProviders:
          dashboardproviders.yaml:
            apiVersion: 1
            providers:
              - name: "default"
                orgId: 1
                folder: ""
                type: file
                disableDeletion: false
                editable: true
                options:
                  path: /var/lib/grafana/dashboards/default
        dashboards:
          default:
            kubernetes:
              gnetId: 1860
              revision: 37
              datasource: Prometheus
            ArgoCD:
              gnetId: 14584
              revision: 1
              datasource: Prometheus
        # Enable anonymous access to Grafana (disables authentication for viewers).
        # WARNING: This allows unauthenticated access to dashboards and should only
        # be used for testing or internal trusted networks. To restrict access,
        # adjust org_role to a less-privileged role (e.g., Viewer) or remove this block.
        grafana.ini:
          auth.anonymous:
            enabled: true
            org_role: Admin
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - SkipHooks=true
      - Timeout=600
      - Validate=false
      - Wait=true
      - PruneEmpty=true
{{- end -}}
